<!DOCTYPE html>
<html lang="en">
  <%- include('./newpartials/head.ejs') %>

  <!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Solar Shop Limited | Home</title>

<link rel="stylesheet" href="/views/public/styles.css">

</head> -->

  <body>
    <nav>
      <div class="site-title">
        <p>+234 810 252 3205</p>
        <a href="/contact">CONTACT US</a>
        <a href="/signin">SIGN IN</a>
        <a href="/accountcreate">CREATE AN ACCOUNT</a>
        <a href="/"><h1>My Solar Shop Limited</h1></a>
        <p>Welcome to the world of Renewable Energy</p>
      </div>

      <div class="tabs">
        <a href="/">HOME</a>
        <a href="/solarmodules">PV MODULES</a>
        <a href="/batteries">BATTERIES</a>
        <a href="/inverters">POWER ELECTRONIC</a>
        <a href="/clearance-sales">CLEARANCE SALES</a>
        <a href="/contact#">CORPORATE</a>
      </div>

      <div class="My Account">
        <p>MY ACCOUNT</p>
        <ul>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/customer-account">My Account</a></li>
          <li><a href="/sales-order-history">Order History</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="Policies">
        <p>POLICIES</p>
        <ul>
          <li><a href="/returns-policy">Returns Policy</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/help-centers">Help Centers</a></li>
        </ul>
      </div>

      <div class="Address">
        <p>ADDRESS:</p>
        <p>3B Ladoke Akintola Univ. Street, Oke Suna, Ilaro, Lagos</p>
      </div>

      <div class="Phone">
        <p>PHONE:</p>
        <p>+234 810 252 3205</p>
        <p>+234 810 252 3205</p>
      </div>

      <div class="Email">
        <p>E-MAIL:</p>
        <p>info@mysolarshoplimited.com</p>
      </div>

      <div class="Working days">
        <p>WORKING DAYS/HOURS:</p>
        <p>MON - FRI / 9:00hrs - 14:00hrs</p>
      </div>

      <div class="Newsletter">
        <p>NEWSLETTER:</p>
        <p>
          Get all the latest information on Products, Sales and Offers. Sign up
          for our newsletter today
        </p>
        <form>
          <input type="text" id="subscribe" />
          <button>Subscribe</button>
        </form>
      </div>
    </nav>

    <%- include('./newpartials/footer.ejs') %>
  </body>
</html>
